@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./assets/fonts/font.css");

@layer base {
  :root {
    --red: #ed1d24;
    --dark: #202020;
    --white: #ffffff;
    --gray: #a0a0a0;
    --gray-dark: #2e2e2e;
    --black: #1a1a1a;
    --background: 32 32 32; /* #202020 */
    --foreground: 255 255 255; /* #FFFFFF */
    --card: 46 46 46; /* #2E2E2E */
    --card-foreground: 255 255 255; /* #FFFFFF */
    --popover: 46 46 46; /* #2E2E2E */
    --popover-foreground: 255 255 255; /* #FFFFFF */
    --primary: 237 29 36; /* #ED1D24 */
    --primary-foreground: 255 255 255; /* #FFFFFF */
    --secondary: 160 160 160; /* #A0A0A0 */
    --secondary-foreground: 32 32 32; /* #202020 */
    --muted: 160 160 160; /* #A0A0A0 */
    --muted-foreground: 46 46 46; /* #2E2E2E */
    --accent: 237 29 36; /* #ED1D24 */
    --accent-foreground: 255 255 255; /* #FFFFFF */
    --destructive: 237 29 36; /* #ED1D24 */
    --destructive-foreground: 255 255 255; /* #FFFFFF */
    --border: 46 46 46; /* #2E2E2E */
    --input: 46 46 46; /* #2E2E2E */
    --ring: 237 29 36; /* #ED1D24 */
    --radius: 0.5rem;
  }
  .dark {
    --background: 32 32 32; /* #202020 */
    --foreground: 255 255 255; /* #FFFFFF */
    --card: 46 46 46; /* #2E2E2E */
    --card-foreground: 255 255 255; /* #FFFFFF */
    --popover: 46 46 46; /* #2E2E2E */
    --popover-foreground: 255 255 255; /* #FFFFFF */
    --primary: 237 29 36; /* #ED1D24 */
    --primary-foreground: 255 255 255; /* #FFFFFF */
    --secondary: 160 160 160; /* #A0A0A0 */
    --secondary-foreground: 32 32 32; /* #202020 */
    --muted: 160 160 160; /* #A0A0A0 */
    --muted-foreground: 46 46 46; /* #2E2E2E */
    --accent: 237 29 36; /* #ED1D24 */
    --accent-foreground: 255 255 255; /* #FFFFFF */
    --destructive: 237 29 36; /* #ED1D24 */
    --destructive-foreground: 255 255 255; /* #FFFFFF */
    --border: 46 46 46; /* #2E2E2E */
    --input: 46 46 46; /* #2E2E2E */
    --ring: 237 29 36; /* #ED1D24 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: "sans-serif";
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-bebas {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.04em;
  }
}
